{% extends 'base2.html.twig' %}

{% block body %}


<div class="col-md-4">
    <section class="panel">
        <h1>Produit edit</h1>
    {{ form_start(form) }}
    <h5>Nom produit</h5>
    {{ form_widget(form.nomP, {'attr': {'class': 'form-control'}}) }}

    <h5>ISBN</h5>
    {{ form_row(form.ISBN, {'attr': {'class': 'form-control'}}) }}

    <h5>Prix produit</h5>
    {{ form_widget(form.prix, {'attr': {'class': 'form-control'}}) }}

    <h5>Quantite </h5>
    {{ form_widget(form.quantite, {'attr': {'class': 'form-control'}}) }}

    <h5>Description</h5>
    {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}

    <h5>Categorie</h5>
    {{ form_widget(form.categorie, {'attr': {'class': 'form-control'}}) }}

    <h5>Image</h5>
    {{ form_row(form.imageFile)}}
    <br>
        <input class="btn btn-primary" type="submit" value="Edit" />
    {{ form_end(form) }}

    </section>
</div>

{% endblock %}
