{% extends 'base.html.twig' %}

{% block body %}
    <!-- breadcrumb part start-->
    <section class="breadcrumb_part">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner">
                        <h2>Liste des produits </h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb part end-->

    <!-- product list part start-->
    <div class="right" style="margin-top: 2rem;">
        <table>
            <tr>
                <td><p style=" margin-left: 1000px;">Prix:</p></td>
                <td>
                    <form action="croissant" method="get" >
                        <button class="btn btn-light" type="submit" ><i class="fas fa-arrow-circle-up"></i></button>
                    </form>
                </td>
                <td>

                    <form action="decroissant" method="get" >
                        <button class="btn btn-light" type="submit" ><i class="fas fa-arrow-circle-down"></i></button>
                    </form>
                </td>
            </tr>
        </table>
    </div>
    <section class="product_list section_padding" >
        <div class="container" style="margin-top: -150px;">





            <br><br>
            <div class="row">
                <div class="col-md-4">
                    <div class="product_sidebar">






                        <div class="single_sedebar">

                            <form action="recherche" method="get">
                                <table>
                                    <tr>
                                        <td>
                                            <input type="text" name ="key" size="40">
                                        </td>
                                        <td>
                                            <button class="btn btn-light" type="submit" >recherche</button>
                                        </td>
                                    </tr>
                                </table>
                            </form>


                        </div>

                        <div class="single_sedebar">

                            <form name="form1" action="maxmin" method="get" onsubmit="required()" >
                                <table>
                                    <tr>
                                        <td>
                                            <input type="text" name ="min" size="10"  placeholder="min">
                                        </td><td>
                                            <input type="text" name ="max" size="10"  placeholder="max">
                                        </td>
                                        <td>
                                            <button class="btn btn-light" type="submit" >Appliquer</button>
                                        </td>
                                    </tr>
                                </table>
                            </form>
                        </div>





                        <div class="single_sedebar">

                            <div class="select_option">
                                <div class="select_option_list">Catégories <i class="right fas fa-caret-down"></i> </div>
                                {% for categorie in categories  %}
                                    <div class="select_option_dropdown">
                                        <p><a href="{{ path('produit_prodParCategorie', {'id':categorie.id}) }}">{{ categorie.nomCat }}</a></p>
                                    </div>
                                {% endfor %}

                            </div>

                        </div>

                    </div>
                </div>


                <div class="col-md-8">
                    <div class="product_list">


                        <div class="row">

                            {% for produit in produits %}
                                <a href="{{ path('produit_show', { 'id':produit.id }) }}" >
                                    <div class="col-lg-3 col-sm-6 ">
                                        <div class="card" style="width: 10rem; height: 22rem; margin-bottom: 20px">
                                            <img src="{{ asset('uploads/images/' ~ produit.image) }}" class="card-img-top" height="220" alt="#">
                                            <div class="card-body">
                                                <h5 class="card-title">{{ produit.nomP }}</h5>
                                                <h6 class="card-title">{{ produit.prix }} DT</h6>


                                            </div>
                                        </div>
                                    </div></a>
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- product list part end-->


    <script>
        function required()
        {
            var empt = document.form1.min.value;
            var empt1 = document.form1.max.value;
            if (empt === "")
            {
                document.form1.min.value=0;
                return false;
            }
            if (empt1 === "")
            {
                document.form1.max.value=99999;
                return false;
            }

        }
    </script>



{% endblock %}
