{% extends 'base.html.twig' %}

{% block body %}
    <!-- breadcrumb part start-->
    <section class="breadcrumb_part">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner">
                        <h2>Liste des produits de la categorie {{ categories }} </h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb part end-->

    <!-- product list part start-->

    <div class="right" style="margin-top: 10px">
        <a href="{{ path('produit_index') }}"> <button class="btn btn-light" type="submit" style="width: auto"><i class="gg-arrow-left-o"></i></button></a>
    </div>
    <section class="product_list section_padding">
        <div class="container" style="margin-top: -150px;">

            <div class="row">

                <div class="col-md-4">
                    <div class="product_sidebar">


                        <div class="single_sedebar">

                            <div class="select_option">
                                <div class="select_option_list">Catégories <i class="right fas fa-caret-down"></i> </div>
                                {% for categorie in categories  %}
                                    <div class="select_option_dropdown">
                                        <p><a href="{{ path('produit_prodParCategorie', {'id':categorie.id}) }}">{{ categorie.nomCat }}</a></p>
                                    </div>
                                {% endfor %}

                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="product_list">
                        <div class="row">
                            {% if prodCats is  empty %}
                                <h3>Pas de produits dans cette categorie :(</h3>
                            {% else %}
                                {% for prodCat in prodCats %}
                                    <a href="{{ path('produit_show', { 'id':prodCat.id }) }}" >
                                        <div class="col-lg-3 col-sm-6 ">
                                            <div class="card" style="width: 10rem; height: 21rem; margin-bottom: 20px">
                                                <img src="{{ asset('uploads/images/' ~ prodCat.image) }}" class="card-img-top" height="220" alt="#">
                                                <div class="card-body">
                                                    <h5 class="card-title">{{ prodCat.nomP }}</h5>
                                                    <h6 class="card-title">{{ prodCat.prix }} DT</h6>


                                                </div>
                                            </div>
                                        </div></a>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
    <!-- product list part end-->




{% endblock %}
